* {
    padding: 0;
    margin: 0;
}

body {
    background: #2f549e;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

label {
    display: inline-block;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}

.input {
  background: none repeat scroll 0 0 transparent;
  border: none;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
}
.inputBatch {
    background: #A1A1A1;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 2px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
}


.mainWrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.bodyWrapper {
    float: left;
    width: 100%;
    display: none;
    padding-bottom: 10px;
}

.inputWrapper, .button/*, .dataBoxButton, .subTitledButton */{
    /* background: url("../img/buttonBg.png") repeat-x; */
    background-color: #FFFFFF;
    margin-bottom: 2px;
}


.logo {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.loginForm {
    position: relative;
}

.onlyItem {
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0 !important
}

.firstItem {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.lastItem {
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0 !important;
}




.submit {
    background-color: #1982d1;
    white-space: normal;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.loginSubmit {
    margin-top: 20px;
}